#home {
    background-image: url("../images/bg_header.jpg");
    background-size: cover;
    width:100vw;
    height: 100vh;
}

#about {
   background-image: url(../images/bg_nuage.jpg); 
   background-size: cover;
   background-position: center;
   
   

}

.logo_img {
    width: 100px;
    height: 65px;
    margin-top: 8%;
    margin-right: 2%;
}
    
.container  .carre {

    width: 200px;
    height: 200px; 
   
    
}

#history {
    background-image: url("../images/bg_appareil_photo.jpg");
    background-size: cover;
    background-position: center;
}

#contact{
    background-image: url("../images/bg_newsletter.jpg");
   
}

#contact > div {
    background-color: rgba(44, 43, 43, 0.103);
}


.logo > p {
    font-size: 35px;
}

@media (max-width: 991px) {
    #logo {
        
        flex-direction: column;
    }
 #photo-tablette {
        display:block !important;
    }
    
    
#navette, #san-francisco {
        display: none !important;
    }

   
}

